<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>Inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Inventory Lists</h1>

            <!--            <h4 th:text="${message}"></h4>-->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblWh" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Date In</th>
                                    <th>Quantity</th>
                                    <th>Accepted</th>
                                    <th>Status</th>
                                    <th>Supplier</th>
                                    <th>Location</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${inventories}">
                                    <td th:text="${item.pt_id}">1</td>
                                    <td><img th:src="@{${item.good_data.photosImagePath}}" width="50px" /></td>
                                    <td th:text="${item.good_data.goods_name}">1</td>
                                    <td th:text="${item.pt_date_in}">1</td>
                                    <td th:text="${item.pt_qty}">1</td>
                                    <td th:text="${item.accepted_qty}">1</td>
                            <div th:if="${item.passed}">
                                <td><span class="badge badge-success">Passed</span></td>
                            </div>
                            <div th:unless="${item.passed}">
                                <td><span class="badge badge-info">Wait for Qc Check</span></td>
                            </div>
                            <td th:text="${item.supplier.sup_name}">1</td>
                            <td <td th:text="${item.loc_code}">1</td>
                            <!--<td><a th:href="@{/goods/update/{no}(no=${item.goods_no})}">Update</a></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
               $(document).ready(function () {
                   $('#tblWh').dataTable();
                   $('.nav-goodsMaster').addClass('active');
               });   
            </script>
        </div>
    </body>
</html>
