<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>Transaction</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid" layout:fragment="contents">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Transaction</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="card-title">Transaction Report</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="tblWh" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Transaction Id</th>
            <th>Type</th>
            <th>Goods Name</th>
            <th>From Location</th>
            <th>To Location</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item: ${trans}">
            <td th:text="${item.id}">Id</td>

            <div th:if="${item.type.equals('in')}">
              <td><span class="badge badge-warning">Allocate</span></td>
          </div>
            <div th:if="${item.type.equals('out')}">
              <td><span class="badge badge-success">Issue</span></td>
            </div>

            <td th:text="${item.goods_name}">Goods Name</td>
            <td th:text="${item.from_loc}">From Location</td>
            <td th:text="${item.to_loc}">To Location</td>
            <td th:text="${item.quantity}">Quantity</td>


          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(document).ready(function () {
      $('.nav-trans').addClass('active');
      $('#tblWh').dataTable();
    });
  </script>
</div>
</div>
</body>
</html>
