<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>GoodsData</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">GoodsData Lists</h1>

             <input th:if="${message}" type="hidden" id="messageReturn" th:value="${message}"></h5>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <button  class="btn btn-primary" id="btnCreate">
                        <i class="fa-solid fa-plus"></i> Add New Goods
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblGood" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Active</th>
                                    <th>Package</th>
                                    <th>Qty/Package</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${goods}">
                                    <td th:text="${item.goods_no}">1</td>
                                    <td><img th:src="@{${item.photosImagePath}}" width="150px" /></td>
                                    <td th:text="${item.goods_name}">1</td>
                                    <td th:text="${item.price}+'$'">1</td>
                                    <div th:if="${item.active}">
                                        <td><span class="badge badge-success">Active</span></td>
                                    </div>
                                    <div th:unless="${item.active}">
                                        <td><span class="badge badge-info">Inactive</span></td>
                                    </div>
                                    <td th:text="${item.goods_package}">1</td>
                                    <td <td th:text="${item.qty_per_package}">1</td>
                                    <td><a class="btn btn-primary" th:href="@{/goods/update/{no}(no=${item.goods_no})}">Update</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                document.getElementById("btnCreate").onclick = function() {location.href = "/goods/create";};
                $(document).ready(function () {
                    if (document.getElementById("messageReturn") !== null) {
                        Swal.fire(
                                'Good job!',
                                $('#messageReturn').val(),
                                'success'
                                );
                    }
                    $('.nav-goods').addClass('active');
                    $('#tblGood').dataTable();
                    $('#btnAdd').click(function () {
                        location.href = "/user/create";
                        });
                    });

            </script>
        </div>
    </body>
</html>
