<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org">
    <head>
        <title>User List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>User List</h1>
        <h4><a th:href="@{/user/create}">Create new user</a></h4>
        <table border="1" style="margin-left: auto; margin-right: auto" width="60%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Update</th>


                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${users}">
                    <td th:text="${item.id}">1</td>
                    <td th:text="${item.username}">1</td>
                    <td th:text="${item.email}">1</td>
                    
                    <td><a >Update</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
