<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>Warehouse</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">User Lists</h1>

            <input th:if="${message}" type="hidden" id="messageReturn" th:value="${message}"></h5>
            <h5 th:if="${alert}" class="alert alert-danger" th:text="${alert}"></h5>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <button  class="btn btn-primary" id="btnShow">
                        <i class="fa-solid fa-plus"></i> Add New User
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblUser" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${users}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.username}"></td>
                                    <td th:text="${item.email}"></td>
                                    <!--<td th:text="${item.roles}"></td>-->
                                    <td>
                                        <div th:each="role: ${item.roles}">
                                            <span th:text="${role.name}" class="badge badge-warning"></span>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-primary" th:href="@{/user/update/{id}(id=${item.id})}">Update</a></td>
                                    <td><a class="btn btn-primary" th:href="@{/user/update-role/{id}(id=${item.id})}">Update Role</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="username">Username</label>
                                    <input id="username" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="role">Role</label>
                                    <input id="role" class="form-control"/> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btnAdd">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                $(document).ready(function () {
                    if (document.getElementById("messageReturn") !== null) {
                        Swal.fire(
                                'Good job!',
                                $('#messageReturn').value,
                                'success'
                                );
                    }
                    $('.nav-user').addClass('active');
                    $('#tblUser').dataTable();
                    $('#btnShow').click(function () {
//                        $('#exampleModal').modal('show');
                        location.href = "/user/create";
                    });
                    $('#btnAdd').click(function () {
                        const user = {
                            username: $('#username').val(),
                            email: $('#email').val(),
                            password: $('#password').val(),
                            role: $('#role').val()
                        };

                        $.ajax({
                            url: '/user/save',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify(user),
                            success: function (res) {
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Add new User success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                    });
                                }
                            }
                        });
                        console.log(user);
                        $('#exampleModal').modal('hide');
                    });
                    $('#btnEdit').click(function () {
                        const warehouse = {
                            wh_code: $('#wh_editCode').val(),
                            wh_desc: $('#wh_editDesc').val(),
                            wh_status: $('#wh_editStatus').prop("checked") ? 1 : 0,
                            wh_cmt: $('#wh_editCmt').val()
                        };

                        $.ajax({
                            url: `api/warehouses/${$('#wh_editCode').val()}`,
                            type: 'PUT',
                            contentType: "application/json",
                            data: JSON.stringify(warehouse),
                            success: function (res) {
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Edit new Warehouse success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                    });
                                }
                            }
                        });
                        console.log(warehouse);

                    });
                });

                const editUser = (id) => {
                    console.log(id);
                    $.ajax({
                        type: 'GET',
                        url: `/api/warehouses/${id}`,
                        success: function (data) {

                            console.log(data);
                            $('#wh_editCode').val(data.wh_code);
                            $('#wh_editDesc').val(data.wh_desc);
                            if (data.wh_status === true) {
                                $('#wh_editStatus').prop('checked', true);
                            } else {
                                $('#wh_editStatus').prop('checked', false);
                            }
                            $('#wh_editCmt').val(data.wh_cmt);

                        }
                    });
                    $('#editModal').modal('show');
                };


            </script>
        </div>
    </body>
</html>
