<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>Update User Role</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Update User Role</h1>

            <form  th:action="@{/user/save3}" method="post" th:object="${user}" id="myForm">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" th:field="*{username}" readonly>
                </div>
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label>Roles:</label>
                    <div class="col-8">
                        <th:block th:each="role: ${listRoles}">
                            <input type="checkbox" th:field="*{roles}"
                                   th:value="${role.id}"
                                   th:text="${role.name}"
                                   />    
                        </th:block>
                    </div>
                </div> 
                <button type="submit" id="btnSubmit" class="btn btn-primary">Update</button>
            </form>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                $('#btnSubmit').click(function (e) {
                            e.preventDefault();
                            Swal.fire({
                                title: 'Do you want to save the changes?',
                                showDenyButton: true,
                                confirmButtonText: 'Save',
                                denyButtonText: `Don't save`,
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                    $('#myForm').submit();
                                } else if (result.isDenied) {
                                    Swal.fire('Changes are not saved', '', 'info')
                                }
                            });
                        });
            </script>
            </div>
        
        </div>
    </body>
</html>
