<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>Unqualified</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid" layout:fragment="contents">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Unqualified</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="card-title">Unqualified Item</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="tblWh" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>No</th>            
            <th>Goods Name</th>
            <th>Sale Order Number</th>
            <th>Quantity</th>
            <th>Note</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item: ${unqualifieds}">
            <td th:text="${item.id}">Id</td>          
            <td th:text="${item.goods_name}">Goods Name</td>
            <td th:text="${item.so_id}">To Location</td>
            <td th:text="${item.quantity}">From Location</td>
            <td th:text="${item.note}"></td>
          <div th:if="${item.status==0}">
              <td>
                  <button class="btn btn-outline-primary">Pending</button>
              </td>
          </div>
          <div th:if="${item.status==1}">
              <td>
                  <span class="badge badge-success">Pending</span>
              </td>
          </div>
          <div th:if="${item.status==-1}">
              <td>
                  <span class="badge badge-danger">Disposed</span>
              </td>
          </div>


          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(document).ready(function () {
      $('.nav-unqualified').addClass('active');
      $('#tblWh').dataTable();
    });
  </script>
</div>
</div>
</body>
</html>
