<!DOCTYPE html>


<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <h1 class="h3 mb-2 text-gray-800">Customer List</h1>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <button  class="btn btn-primary" id="btnShow">
                        <i class="fa-solid fa-plus"></i> Add New Customer
                    </button>
                </div>
                <div class="card-header py-3">
                    <div th:if="${message}">
                        <input type="hidden" th:value="${message}" id="excel">
                    </div>
                    <form th:action="@{/customer/import}" method="post" enctype="multipart/form-data">
<!--                        <input type="file" th:name="file" />

                        <button  class="btn btn-primary" id="btnShow">
                            <input th:type="submit" value="Import" />
                        </button>-->
                        <div class="mb-3">
                            <div class="col-4 mb-2">
                                <label for="formFile" class="form-label"><strong>Upload by Excel</strong></label>
                                <input class="form-control" type="file" id="formFile" th:name="file">
                            </div>
                            <br>
                            <div class="col-4">
                                <button class="btn btn-primary" type="submit">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-header py-3">
                    <a th:href="@{/api/customers/export}">
                        <button  class="btn btn-primary" id="btnShow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                            <span>&nbsp;</span>Export to Excel
                        </button>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblWh" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Customer code</th>
                                    <th>Customer name</th>
                                    <th>Address</th>
                                    <th>City</th>                                    
                                    <th>Country</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Note</th>                                    
                                    <th>Short name</th>
                                    <th>Tax code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="cust:${customers}">
                                    <td><button th:text="${cust.cust_code}" class="btn btn-primary" th:id="${cust.cust_code}" th:onclick="editCustomer([[${cust.cust_code}]])"></button></td>
                                    <td th:text="${cust.cust_name}"></td>
                                    <td th:text="${cust.address}"></td>
                                    <td th:text="${cust.city}"></td>
                                    <td th:text="${cust.country}"></td>
                                    <td th:text="${cust.email}"></td>
                                    <td th:text="${cust.phone}"></td>
                                    <td th:text="${cust.note}"></td>
                                    <td th:text="${cust.short_name}"></td>
                                    <td th:text="${cust.tax_code}"></td>
                            <div th:if="${cust.active}">
                                <td><span class="badge badge-success">Active</span></td>
                            </div>
                            <div th:unless="${cust.active}">
                                <td><span class="badge badge-info">Inactive</span></td>
                            </div>
                           
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<!--             Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new customer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="cust_code">Customer code *</label>
                                    <input id="cust_code" class="form-control" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="cust_name">Customer name *</label>
                                    <input id="cust_name" class="form-control" required /> 
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="address">Address *</label>
                                    <input id="address" class="form-control" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="city">City *</label>
                                    <input id="city" class="form-control" required/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="country">Country *</label>
                                    <input id="country" class="form-control" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="email">Email *</label>
                                    <input id="email" type="email" class="form-control" required/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="phone">Phone *</label>
                                    <input id="phone" class="form-control" type="tel" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="note">Note</label>
                                    <input id="note" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="short_name">Short name</label>
                                    <input id="short_name" class="form-control"/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="tax_code">Tax code </label>
                                    <input id="tax_code"  class="form-control"/> 
                                </div>
                            </div>
                            <b ><i>Fields marked with * are required.</i></b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btnAdd">Save</button>
                        </div>
                    </div>
                </div>
            </div>

<!--             Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="row">
                                <input type="hidden" id="e_cust_code" class="form-control" readonly/>
                                <div class="form-group col-6">
                                    <label for="e_cust_name">Customer name *</label>
                                    <input id="e_cust_name" class="form-control" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="e_address">Address *</label>
                                    <input id="e_address" class="form-control" required/> 
                                </div>
                            </div>
                            
                            <div class="row">
                                
                                <div class="form-group col-6">
                                    <label for="e_city">City *</label>
                                    <input id="e_city" class="form-control" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="e_country">Country *</label>
                                    <input id="e_country" class="form-control" required/> 
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="form-group col-6">
                                    <label for="e_email">Email *</label>
                                    <input id="e_email" type="email" class="form-control" required/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="e_phone">Phone *</label>
                                    <input id="e_phone" class="form-control" type="tel" required/> 
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="form-group col-6">
                                    <label for="e_note">Note</label>
                                    <input id="e_note" class="form-control"/> 
                                </div>
                                <div class="form-group col-6">
                                    <label for="e_short_name">Short name</label>
                                    <input id="e_short_name" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="form-group col-6">
                                    <label for="e_tax_code">Tax code</label>
                                    <input id="e_tax_code"  class="form-control"/> 
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-check-label" for="e_status">Active</label>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" id="e_status" class="form-check-input" style="cursor:pointer; margin-top: 20px"/>
                                    </div>
                                </div>
                                <span><i>Fields marked with * are required.</i></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btnEdit">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
              <script>
                  function validate(){
                      if (document.getElementById("cust_code").value.trim() === "") {
                        Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Please input customer code'
                                    });
                        return false;
                        }
                        return true;
                  };
                $(document).ready(function () {
                    $('.nav-customer').addClass('active');
                    $('#tblWh').dataTable();
                    $('#btnShow').click(function () {
                        $('#exampleModal').modal('show');
                    });
                    if(document.getElementById("excel")!==null){
                        if ($('#excel').val().match('Upload')){
                        Swal.fire(
                                'Good job!',
                                $('#excel').val(),
                                'success'
                                );
                    } else if ($('#excel').val().match('Could')) {
                        Swal.fire(
                                'Oh no!',
                                $('#excel').val(),
                                'error'
                                );
                    } else if ($('#excel').val().match('Please')) {
                        Swal.fire(
                                'Oh no!',
                                $('#excel').val(),
                                'error'
                                );
                    }
                    }
                    
                    
                    $('#btnAdd').click(function () {
                        const customer = {
                            cust_code: $('#cust_code').val(),
                            cust_name: $('#cust_name').val(),
                            city: $('#city').val(),
                            country: $('#country').val(),
                            address: $('#address').val(),
                            email: $('#email').val(),
                            phone: $('#phone').val(),
                            note: $('#note').val(),
                            tax_code: $('#tax_code').val(),
                            short_name: $('#short_name').val(),
                            active: 1
                        };
                        $.ajax({
                            url: '/customer/save',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify(customer),
                            success: function (res) {
                                console.log(res);
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Add new Customer success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                        $('#exampleModal').modal('hide');
                                    });
                                }
                            }
                        });
                        console.log(customer);
                        
                    });
                    $('#btnEdit').click(function () {
                        const customer = {
                            cust_code: $('#e_cust_code').val(),
                            cust_name: $('#e_cust_name').val(),
                            city: $('#e_city').val(),
                            country: $('#e_country').val(),
                            address:$('#e_address').val(),
                            email: $('#e_email').val(),
                            phone: $('#e_phone').val(),
                            note: $('#e_note').val(),
                            tax_code: $('#e_tax_code').val(),
                            short_name: $('#e_short_name').val(),
                            active: $('#e_status').prop("checked") ? 1 : 0
                            
                        };

                        $.ajax({
                            url: `api/customers/${$('#e_cust_code').val()}`,
                            type: 'PUT',
                            contentType: "application/json",
                            data: JSON.stringify(customer),
                            success: function (res) {
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Edit new Customer success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                    });
                                }
                            }
                        });
                        console.log(customer);

                    });
                });

                const editCustomer = (id) => {
                    console.log(id);
                    $.ajax({
                        type: 'GET',
                        url: `/api/customers/${id}`,
                        success: function (data) {

                            console.log(data);
                            $('#e_cust_code').val(data.cust_code);
                            $('#e_cust_name').val(data.cust_name);
                            $('#e_address').val(data.address);
                            $('#e_city').val(data.city);
                            $('#e_country').val(data.country);
                            $('#e_email').val(data.email);
                            $('#e_phone').val(data.phone);
                            $('#e_note').val(data.note);
                            $('#e_short_name').val(data.short_name);
                            $('#e_tax_code').val(data.tax_code);
                            if (data.status === true) {
                                $('#e_status').prop('checked', true);
                            } else {
                                $('#e_status').prop('checked', false);
                            }
                            

                        }
                    });
                    $('#editModal').modal('show');
                };


            </script>
        </div>
    </body>
</html>
