<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      >

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>2HAT Warehouse</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="nav nav-pills nav-sidebar flex-column bg-gradient-primary sidebar sidebar-dark" id="accordionSidebar" ata-widget="treeview" role="menu" data-accordion="false">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">2HAT Warehouse</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0" sec:authorize="isAuthenticated()">
                <li class="nav-item nav-dash">
                    <a class="nav-link nav-dash" th:href="@{/}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span >Dashboard</span></a>
                </li> 
                <li class="nav-item nav-goodsMaster" sec:authorize="isAuthenticated()">
                    <a class="nav-link nav-goodsMaster" th:href="@{/inventory}">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span >Inventory</span></a>
                </li>


                <hr class="sidebar-divider my-0" >
                 <li class="nav-item nav-issue" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_MOVEMENT')">
                    <a class="nav-link nav-issue" th:href="@{/Issue}">
                        <i class="fa-solid fa-money-bill"></i>
                        <span >Issue Order</span></a>
                </li>
                <li class="nav-item nav-sale" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_CREATE_SO') or hasRole('ROLE_APPROVE_SO')">
                    <a class="nav-link nav-sale" th:href="@{/sale/browse}">
                        <i class="fa-solid fa-money-bill"></i>
                        <span >Sale Order</span></a>
                </li>
                <li class="nav-item nav-allocate" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_MOVEMENT')">
                    <a class="nav-link nav-allocate" th:href="@{/allocated}">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span >Allocate Request</span></a>
                </li>
                <li class="nav-item nav-unallocate" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_MOVEMENT')">
                    <a class="nav-link nav-unallocate" th:href="@{/allocated/browse}">
                        <i class="fa-solid fa-boxes-stacked"></i>
                        <span >Unallocate</span></a>
                </li>
                 <li class="nav-item nav-unqualified" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_MOVEMENT')">
                    <a class="nav-link nav-unqualified" th:href="@{/unqualified}">
                        <i class="fa-solid fa-recycle"></i>
                        <span >Unqualified</span></a>
                </li>
                <hr class="sidebar-divider my-0" >
                <li class="nav-item nav-qc" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')
                              or hasRole('ROLE_QC')">
                    <a class="nav-link nav-qc" th:href="@{/qc}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span >QC</span></a>
                </li>
                <li class="nav-item nav-incoming" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')
                              or hasRole('ROLE_QC') or hasRole('ROLE_RECEIVE_INCOM')">
                    <a class="nav-link nav-incoming" th:href="@{/Incoming}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span >Incoming List</span></a>
                </li>
                <hr class="sidebar-divider my-0" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_APP')">
                <li class="nav-item nav-goods">
                    <a class="nav-link nav-goods" th:href="@{/goods}">
                        <i class="fa-solid fa-cookie-bite"></i>
                        <span >Goods Information</span></a>
                </li>
                <li class="nav-item nav-warehouse" sec:authorize="isAuthenticated()">
                    <a class="nav-link nav-warehouse" th:href="@{/warehouse}">
                        <i class="fa-solid fa-warehouse"></i>
                        <span >Warehouse</span></a>
                </li>
                <li class="nav-item nav-locs" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_APP')">
                    <a class="nav-link nav-locs" th:href="@{/locs}">
                        <i class="fa-solid fa-house-user"></i>
                        <span >Location</span></a>
                </li>
                <li class="nav-item nav-supplier" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_APP')">
                    <a class="nav-link nav-supplier" th:href="@{/suppliers}">
                        <i class="fa-solid fa-user-tie"></i>
                        <span >Supplier</span></a>
                </li>
                <li class="nav-item nav-supplier" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_APP')">
                    <a class="nav-link nav-customer" th:href="@{/customer}">
                        <i class="fa-solid fa-person-walking-luggage"></i>
                        <span >Customer</span></a>
                </li>
                
                <li class="nav-item nav-supplier" sec:authorize="isAuthenticated()">
                    <a class="nav-link nav-trans" th:href="@{/transaction}">
                        <i class="fa-solid fa-truck-moving"></i>
                        <span >Transaction</span></a>
                </li>

                <li class="nav-item nav-user" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') 
                              or hasRole('ROLE_APP')">
                    <a class="nav-link nav-user" th:href="@{/user}">
                        <i class="fa-solid fa-user"></i>
                        <span >User</span></a>
                </li>

                <!-- Nav Item - Dashboard -->




                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>



            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                       

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Search for..." aria-label="Search"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <!-- Nav Item - Alerts -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter" id="count"></span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" id="altertSite"
                                     aria-labelledby="alertsDropdown">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2019</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>

                            

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                        <div sec:authorize="isAuthenticated()">
                                            Welcome <span sec:authentication="name"></span></span>
                                        </div></span>
                                    <img class="img-profile rounded-circle"
                                         th:src="@{/img/undraw_profile.svg}">
                                </a>

                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    
                                    <a class="dropdown-item" th:href="@{/user/profile/}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <!--sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"-->
                                    <div id="wpChange" style="cursor:pointer">
                                        <a class="dropdown-item">
                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                            <span th:if="${#session.getAttribute('workspace')} != null" th:text="${#session.getAttribute('workspace')}"></span>
                                        </a>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>


                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <div layout:fragment="contents"></div>
                    <!-- Begin Page Content -->

                    <!-- /.container-fluid -->

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!--            <footer class="sticky-footer bg-white">
                            <div class="container my-auto">
                                <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; Your Website 2021</span>
                                </div>
                            </div>
                        </footer>-->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="wpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose your workspace to start your action</h5>                   
                </div>
                <div class="modal-body">
                    <select class="form-control" id="selectWs">
                        
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="btnChoose">Choose</button>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function(){
             $.ajax({
             type : "GET",
             url:"/api/warehouses/notyf",
             success:function(data){
                 if(document.getElementById("pendingRequests1")!==null){
                     $('#pendingRequests1').html(data.length);
                 }
             }
            });
//          setInterval(()=>{
//              $.ajax({
//             type : "GET",
//             url:"/api/warehouses/notyf",
//             success:function(data){
//                 if(document.getElementById("pendingRequests1")!==null){
//                     $('#pendingRequests1').html(data.length);
//                 }
//                 if(data.length===0){
//                      $('#altertSite').empty();
//                  const a = `<a class="dropdown-item d-flex align-items-center">                                          
//                                        <div>
//                                            <span>There is no notification right now, you are doing great!
//                                            <i class="fa-regular fa-thumbs-up"></i>
//                                            </span>
//                                        </div>
//                               </a> 
//                            `;
//                 $('#altertSite').append(a);
//                     $('#count').remove();
//                 }
//                 if(data.length!==0){
//                    $('#altertSite').empty();
//                    $('#count').html(data.length);
//                 }
//                
//                 data.forEach(x=>{
//                     const icon = x.content.includes("issue") ? `<i class="fa-solid fa-arrow-right-from-bracket"></i>`:`<i class="fa-solid fa-file-import"></i>`;
//                   const a = `<a class="dropdown-item d-flex align-items-center" href="${x.url}">  
//                                        <div class="mr-3">
//                                            <div class="icon-circle bg-primary">
//                                                ${icon}
//                                            </div>
//                                        </div>
//                                        <div>
//                                            <div class="small text-gray-500">${x.time}</div>
//                                            ${x.content}
//                                        </div>
//                               </a> 
//                            `;
//                   $('#altertSite').append(a);
//                 });
//                 console.log(data);
//             }
//          }); 
//          },1000);
          $.ajax({
             type : "GET",
             url:"/api/warehouses",
             success:function(data){
                 console.log(data);
                 data.forEach(x=>{
                    const option = `<option value="${x.wh_code}">${x.wh_desc}</option>`;
                    $('#selectWs').append(option);
                 });
             }
          });
          $.ajax({
              type : "GET",
              url:"/check-workspace",
              success:function(res){
                  console.log(res);
                  if(res===400){
                    Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    html: '<b>Selected your workspace first !</b>',
                    button: "Select workspace"
                }).then(function(){
                    $('#wpModal').modal('toggle');
                });
                  }
              }
          });
          $('#wpChange').click(function(){
              $('#wpModal').modal('toggle');
          });
          $('#btnChoose').click(function(){
              $('#wpModal').modal('toggle');
              const jsObj = {
                  wh_code : $('#selectWs :selected').val()
              };
              $.ajax({
                  type: "POST",
                  url:"/choose-workspace",
                  contentType: "application/json",
                  data: JSON.stringify(jsObj),
                  success:function(res){
                      if(res===200){
                        Swal.fire(
                            'Good job!',
                            'Choose workspace success',
                            'success'
                        ).then(function(){
                            window.location.reload();
                        });  
                      }
                  }
              });
          });
        });
    </script>
</body>

</html>