<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>Inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Unallocated Item</h1>

            <!--            <h4 th:text="${message}"></h4>-->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblWh" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Date In</th>
                                    <th>Quantity</th>
                                    <th>Accepted</th>
                                    <th>Incoming id</th>
                                    <th>Supplier</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item: ${unallocates}">
                                    <td th:text="${item.pt_id}">1</td>
                                    <td><img th:src="@{${item.good_data.photosImagePath}}" width="50px" /></td>
                                    <td th:text="${item.good_data.goods_name}">1</td>
                                    <td th:text="${item.pt_date_in}">1</td>
                                    <td th:text="${item.pt_qty}">1</td>
                                    <td th:text="${item.accepted_qty}">1</td>
                                    <td th:text="${item.ic_id}"></td>
                                    <td th:text="${item.supplier.sup_name}">1</td>
                            <div th:if="${item.pt_hold<item.pt_qty}">
                                <td><button class="btn btn-outline-info" th:onclick="pickList([[${item.pt_id}]],[[${item.pt_qty}]])">Pick List</button></td>
                            </div>
                            <div th:unless="${item.pt_hold<item.pt_qty}">
                                <td><span class="badge badge-success">Finished Picking</span></td>
                            </div>
                            <!--<td><a th:href="@{/goods/update/{no}(no=${item.goods_no})}">Update</a></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Pick Lists</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="loc_code">Select locations</label>
                                    <input type="hidden" id="pt_id">
                                    <select class="form-control" id="loc_code">
                                        <option th:each="item : ${locs}" th:value="${item.loc_code}" th:text="${item.loc_desc}"></option>
                                    </select> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="sup_name">Input quantity</label>
                                    <input type="number" id="quantity" class="form-control"/>  <input type="hidden" id="qtyHidden" class="form-control"/>
                                    <input type="hidden" id="maxQtyItem" class="form-control"/>
                                </div>
                                <div class="form-group col-6">
                                    <label for="date">Delivery Date</label>
                                    <input type="date" id="date" readonly="true" class="form-control"/> 
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btnAdd">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                $(document).ready(function () {
                    $.ajax({
                         type:'GET',
                         url:`/api/locs/details/${$('#loc_code :selected').val()}`,
                         success: function(data){
                             console.log(data);
                             $('#quantity').attr("placeholder", `Max: ${parseFloat(data.loc_remain)-parseFloat(data.loc_holding)}`);
                             $('#qtyHidden').val(parseFloat(data.loc_remain)-parseFloat(data.loc_holding));
                         }
                      }); 
                    $('#tblWh').dataTable();
                    $('.nav-unallocate').addClass('active');
                    $('#loc_code').on('change',function(){
                      $.ajax({
                         type:'GET',
                         url:`/api/locs/details/${$('#loc_code :selected').val()}`,
                         success: function(data){
                             console.log(data);
                             $('#quantity').attr("placeholder", `Max: ${parseFloat(data.loc_remain)-parseFloat(data.loc_holding)}`);
                             $('#qtyHidden').val(parseFloat(data.loc_remain)-parseFloat(data.loc_holding));
                         }
                      }); 
                    });
                    $('#date').val(new Date().toJSON().slice(0,10));
                    $('#btnAdd').click(function () {
                        console.log(parseFloat($('#qtyHidden').val())<parseFloat($('#quantity').val()));
                        if(parseFloat($('#qtyHidden').val())<parseFloat($('#quantity').val())||parseFloat($('#maxQtyItem').val())<parseFloat($('#quantity').val())){
                            Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Your input is too large'
                                    });
                                    $('#quantity').val('');
                        }else{
                             const jsObj = {
                            pt_id: $('#pt_id').val(),
                            loc_code: $('#loc_code :selected').val(),
                            qty: $('#quantity').val(),
                            date: $('#date').val()
                        };
                        console.log(jsObj);

                        $.ajax({
                            type: 'POST',
                            url: '/allocated/pick-list',
                            contentType: "application/json",
                            data: JSON.stringify(jsObj),
                            success: function (res) {
                                console.log(res);
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Pick list success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                    });
                                }
                                if (res === 400) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Something went wrong!'
                                    });
                                }
                            }
                        });
                        }
                       
                    });
                });

                const pickList = (id,qty) => {
                    console.log(id);
                    $('#pt_id').val(id);
                    $('#maxQtyItem').val(qty);
                    $('#exampleModal').modal('show');
                };



            </script>
        </div>
    </body>
</html>
