<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="http://www.thymeleaf.org" xlmns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>Supplier</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="contents">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Supplier List</h1>


            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <button  class="btn btn-primary" id="btnShow">
                        <i class="fa-solid fa-plus"></i> Add New Supplier
                    </button>
                     
                </div>
                <div class="card-header py-3">
                    
                    <div th:if="${message}">
                        <input type="hidden" th:value="${message}" id="excel">
                    </div>
                    <form method="post" th:action="@{/suppliers/import}" enctype="multipart/form-data" id="excel">
<!--                        <input type="file" th:name="file" />
                        
                        <button  class="btn btn-primary" id="btnShow">
                            <input th:type="submit" value="Import" />
                        </button>-->
                        <div class="mb-3">
                            <div class="col-4 mb-2">
                                <label for="formFile" class="form-label"><strong>Upload by Excel</strong></label>
                                <input class="form-control" type="file" id="formFile" th:name="file">
                            </div>
                            <br>
                            <div class="col-4">
                                <button class="btn btn-primary" th:type="submit" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-header py-3">
                    <a th:href="@{/api/suppliers/export}">Export to Excel</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblSl" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>City</th>
                                    <th>Tax Code</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="sl:${suppliers}">
                                    <td><button th:text="${sl.sup_code}" class="btn btn-primary" th:id="${sl.sup_code}" th:onclick="editSupplier([[${sl.sup_code}]])"></button></td>
                                    <td th:text="${sl.sup_name}"></td>
                                    <td th:text="${sl.sup_address}"></td>
                                    <td th:text="${sl.sup_email}"></td>
                                    <td th:text="${sl.city}"></td>
                                    <td th:text="${sl.tax_code}"></td>
                                    <div th:if="${sl.active}">
                                        <td><span class="badge badge-success">Active</span></td>
                                    </div>
                                    <div th:unless="${sl.active}">
                                        <td><span class="badge badge-info">Inactive</span></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new supplier</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="sup_code">Supplier Code</label>
                                    <input id="sup_code" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="sup_name">Supplier Name</label>
                                    <input id="sup_name" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="sup_address">Address</label>
                                    <input id="sup_address" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="sup_email">Email</label>
                                    <input id="sup_email" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="city">City</label>
                                    <input id="city" class="form-control"/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="tax_code">Tax Code</label>
                                    <input id="tax_code" class="form-control"/> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btnAdd">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit supplier</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <input type="hidden" id="sup_editCode" class="form-control" readonly/>
                                <div class="form-group col-8">
                                    <label for="sup_editName">Supplier name</label>
                                    <input id="sup_editName" class="form-control"/> 
                                </div>
                                <div class="form-group col-8">
                                    <label for="sup_editAddress">Address</label>
                                    <input id="sup_editAddress" class="form-control"/> 
                                </div>
                                <div class="form-group col-8">
                                    <label for="sup_editEmail">Email</label>
                                    <input id="sup_editEmail" class="form-control"/> 
                                </div>
                                <div class="form-group col-8">
                                    <label for="editCity">City</label>
                                    <input id="editCity" class="form-control"/> 
                                </div>
                                <div class="form-group col-8">
                                    <label for="editTaxCode">Tax Code</label>
                                    <input id="editTaxCode" class="form-control"/> 
                                </div>
                                <div class="form-group col-4">
                                    <label class="form-check-label" for="sup_editStatus">Status</label>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" id="sup_editStatus" class="form-check-input" style="cursor:pointer; margin-top: 20px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="btnEdit">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                $(document).ready(function () {
                    console.log($('#excel').val());
                    //var element =  document.getElementById('excel');
                    if ($('#excel').val().match('Upload')){
                        Swal.fire(
                                'Good job!',
                                $('#excel').val(),
                                'success'
                                );
                    };
                
                    $('.nav-supplier').addClass('active');
                    $('#tblSl').dataTable();
                    $('#btnShow').click(function () {
                        $('#exampleModal').modal('show');
                    });
                    $('#btnAdd').click(function () {
                        const supplier = {
                            sup_code: $('#sup_code').val(),
                            sup_name: $('#sup_name').val(),
                            sup_address: $('#sup_address').val(),
                            sup_email: $('#sup_email').val(),
                            city: $('#city').val(),
                            tax_code: $('#tax_code').val(),
                            active: 1
                        };

                        $.ajax({
                            url: '/suppliers/save',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify(supplier),
                            success: function (res) {
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Add new Supplier success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                    });
                                }
                            }
                        });
                        console.log(supplier);
                        $('#exampleModal').modal('hide');
                    });
                    $('#btnEdit').click(function () {
                        const supplier = {
                            sup_code: $('#sup_editCode').val(),
                            sup_name: $('#sup_editName').val(),
                            sup_address: $('#sup_editAddress').val(),
                            sup_email: $('#sup_editEmail').val(),
                            city: $('#editCity').val(),
                            tax_code: $('#editTaxCode').val(),
                            active: $('#sup_editStatus').prop("checked") ? 1 : 0
                        };

                        $.ajax({
                            url: `api/suppliers/update/${$('#sup_editCode').val()}`,
                            type: 'PUT',
                            contentType: "application/json",
                            data: JSON.stringify(supplier),
                            success: function (res) {
                                if (res === 200) {
                                    Swal.fire(
                                            'Good job!',
                                            'Edit new Supplier success',
                                            'success'
                                            ).then(function () {
                                        window.location.reload();
                                    });
                                }
                            }
                        });
                        console.log(supplier);

                    });
                });

                const editSupplier = (id) => {
                    console.log(id);
                    $.ajax({
                        type: 'GET',
                        url: `/api/suppliers/details/${id}`,
                        success: function (data) {

                            console.log(data);
                            $('#sup_editCode').val(data.sup_code);
                            $('#sup_editName').val(data.sup_name);
                            $('#sup_editAddress').val(data.sup_address);
                            $('#sup_editEmail').val(data.sup_email);
                            $('#editCity').val(data.city);
                            $('#editTaxCode').val(data.tax_code);
                            if (data.active === true) {
                                $('#sup_editStatus').prop('checked', true);
                            } else {
                                $('#sup_editStatus').prop('checked', false);
                            }
                        }
                    });
                    $('#editModal').modal('show');
                };
            </script>
        </div>
    </body>
</html>
